<table class="table table-striped">
  <thead>
    <th> From </th>
    <th> To </th>
    <th> Notes </th>
    <th> Employee </th>
  </thead>
  <tbody>
    {{#each model as |request|}}
        <tr>
          <td> {{request.from}} </td>
          <td> {{request.to}} </td>
          <td> {{request.notes}} </td>
          <td> {{request.employee.email}} </td>
        </tr>
    {{/each}}
  </tbody>
</table>


